# Análisis exploratorio de datos del dataset de delitos de mayor impacto en Colombia
### Integrantes: Johanna Peña, Mario Gualy, Oscar Roncancio
A continuación se realizará el análisis exploratorio de los datos de los delitos de mayor impacto en Colombia con fin de determinar que tan confiables están los datos

### Imports necesarios

In [2]:
import pandas as pd

Importamos los archivos .csv y los unimos en un solo data frame de pandas

In [3]:
#Importamos y unimos los 6 archivos .csv

for i in range(1,7):
    df = pd.read_csv(f'data/delitos{i}.csv',encoding='latin1')
    if i == 1:
        df_total = df
    else:
        df_total = pd.concat([df_total, df])

df_total

C:\Users\tlsdz\AppData\Local\Temp\ipykernel_23964\720800977.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'data/delitos{i}.csv',encoding='latin1')

,Id,Departamento,Municipio,Código DANE,Armas Medio,Fecha,Genero,Agrupaciones de edad,Cantidad Del Delito,Delito,ICON
0,1,Huila,Campoalegre,41132000.0,No Reportado,1/1/2010,Femenino,Adultos,1.0,Abigeato,https://i.ibb.co/vvbGxC4/icons8-cow-48.png
1,2,Meta,San Juan De Arama,50683000.0,No Reportado,1/1/2010,Masculino,Adultos,1.0,Abigeato,https://i.ibb.co/vvbGxC4/icons8-cow-48.png
2,3,Boyacá,Belén,15087000.0,No Reportado,1/2/2010,Femenino,Adultos,1.0,Abigeato,https://i.ibb.co/vvbGxC4/icons8-cow-48.png
3,4,Casanare,Pore,85263000.0,No Reportado,1/2/2010,Masculino,Adultos,1.0,Abigeato,https://i.ibb.co/vvbGxC4/icons8-cow-48.png
4,5,Caldas,Neira,17486000.0,No Reportado,1/3/2010,Masculino,Adultos,1.0,Abigeato,https://i.ibb.co/vvbGxC4/icons8-cow-48.png
...,...,...,...,...,...,...,...,...,...,...,...
201384,5201385,Vichada,Puerto Carreño (Ct),99001000.0,Sin Empleo De Armas,1/28/2023,Femenino,Menores,1.0,Delitos Sexuales,https://i.ibb.co/6J7TWHr/Delitos-sexuales.png
201385,5201386,Vichada,Santa Rosalía,99624000.0,Sin Empleo De Armas,1/4/2023,Femenino,Adolescentes,1.0,Delitos Sexuales,https://i.ibb.co/6J7TWHr/Delitos-sexuales.png
201386,5201387,Vichada,Santa Rosalía,99624000.0,Sin Empleo De Armas,1/4/2023,Femenino,Adolescentes,1.0,Delitos Sexuales,https://i.ibb.co/6J7TWHr/Delitos-sexuales.png
201387,5201388,Vichada,Santa Rosalía,99624000.0,Sin Empleo De Armas,5/8/2023,Femenino,Adolescentes,1.0,Delitos Sexuales,https://i.ibb.co/6J7TWHr/Delitos-sexuales.png
201388,5201389,NaN,NaN,NaN,No Reportado,NaN,NaN,No Reportado,NaN,NaN,NaN

Debido a un warning en el tipo de datos en la columna 6 hago un drop de los valores nulos de la columna fecha

In [4]:
#elimino los valores nulos de la columna fecha
df_total = df_total.dropna(subset=['Fecha'])

In [5]:
#La columna Id tiene un valor único para cada fila quiero hacer un drop de esa columna y reemplazarla por un índice
df_total = df_total.drop(columns=['Id'])
df_total = df_total.reset_index(drop=True)
df_total = df_total.reset_index()
df_total = df_total.rename(columns={'index':'Id'})

Revisamos los tipos de datos dentro del dataframe

In [6]:
df_total.dtypes

Id                        int64
Departamento             object
Municipio                object
Código DANE             float64
Armas Medio              object
Fecha                    object
Genero                   object
Agrupaciones de edad     object
Cantidad Del Delito     float64
Delito                   object
ICON                     object
dtype: object

In [7]:
#valores unicos de las columnas del dataframe descartando las columnas que no nos interesan Id, Código DANE, Fecha y ICON
display(df_total['Departamento'].unique())
display(df_total['Armas Medio'].unique())
display(df_total['Genero'].unique())
display(df_total['Agrupaciones de edad'].unique())
display(df_total['Delito'].unique())
display(df_total['Cantidad Del Delito'].unique())

array(['Huila', 'Meta', 'Boyacá', 'Casanare', 'Caldas', 'Cauca',
       'Antioquia', 'Risaralda', 'Caquetá', 'Santander', 'Sucre',
       'Atlántico', 'Valle', 'Guajira', 'Magdalena', 'Norte De Santander',
       'Arauca', 'Bolívar', 'Cesar', 'Amazonas', 'Vichada',
       'Cundinamarca', 'Nariño', 'Córdoba', 'Putumayo', 'Tolima',
       'Quindío', 'Chocó', 'Vaupés', 'Guainía', 'Guaviare', 'San Andrés',
       '-', 'No Registra'], dtype=object)

array(['No Reportado', 'Arma Blanca / Cortopunzante', 'Arma De Fuego',
       'Sin Empleo De Armas', 'Contundentes', 'Escopolamina', 'Cortantes',
       'Perro', 'Cortopunzantes', 'Punzantes', 'Llave Maestra', 'Jeringa',
       'Alucinogenos', 'Directa', 'Palancas', 'Sustancias Toxicas',
       'Vehiculo', 'Granada De Mano', 'Carta Extorsiva',
       'Llamada Telefonica', 'Mixta', 'Redes Sociales', 'Terrorismo',
       'Artefacto Explosivo/Carga Dinamita', 'Mina Antipersona',
       'Cuerda/Soga/Cadena', 'Combustible', 'Bolsa Plastica',
       'Moto Bomba', 'Paquete Bomba', 'Carro Bomba', 'Persona Bomba',
       'Cintas/Cinturon', 'Almohada', 'Cilindro Bomba',
       'Artefacto Incendiario', 'Veneno', 'Rocket', 'Quimicos',
       'Olla Bomba', 'Gases', 'Granada De Mortero', 'Casa Bomba',
       'Medicamentos', 'Acido', 'Polvora(Fuegos Pirotecnicos)',
       'Prendas De Vestir', 'Liquidos', 'Vehículo', 'Moto',
       'Agua Caliente', 'Papa Explosiva', 'Alimentos Vencidos',
       'Licor Adulterado', 'Cuchilla', 'Armas Blancas', 'Cinturon Bomba',
       'Arma Traumatica', 'Esposas', 'Petardo Planfetario',
       'Bicicleta Bomba', 'Cantina Bomba', 'Caballo Bomba',
       'Granada De Fusil', 'Lancha Bomba', 'Balon Bomba', 'Burro Bomba',
       'Carta Bomba', 'Perro Bomba'], dtype=object)

array(['Femenino', 'Masculino', 'No Reporta', nan, '-', 'No Resportado',
       'No Reportado', 'No Registra'], dtype=object)

array(['Adultos', 'Adolescentes', 'No Reportado', 'Menores'], dtype=object)

array(['Abigeato', 'Hurto Personas', 'Amenazas', 'Extorsion', 'Homicidio',
       'Homicidio Accidente De Transito', 'Hurto Automotores',
       'Hurto Comercio', 'Hurto Entidades Financieras',
       'Hurto Motocicletas', 'Hurto Residencias',
       'Lesiones Accidente De Transito', 'Lesiones Personales',
       'Pirateria Terrestre', 'Secuestro', 'Terrorismo',
       'Violencia Intrafamiliar', 'Delitos Sexuales'], dtype=object)

array([  1.,   2.,   3.,   4.,   5.,   6.,  10.,   9.,   8.,  15.,   7.,
        12.,  14.,  11.,  16.,  18.,  13.,  17.,  21.,  19.,  29.,  20.,
        26.,  24.,  23.,  22.,  25.,  31.,  28.,  27.,  30.,  32.,  43.,
        33.,  42.,  36.,  44.,  35.,  37.,  45.,  40.,  39.,  46.,  38.,
        34.,  41.,  48.,  56.,  50.,  49.,  84.,  82.,  47.,  57.,  69.,
        72.,  59.,  92.,  55.,  54.,  75.,  81.,  58.,  60.,  51.,  68.,
        65.,  76.,  73.,  66.,  52.,  85.,  53.,  62.,  79.,  94.,  78.,
        67.,  80.,  77.,  64.,  74.,  63.,  61.,  70.,  87.,  86.,  71.,
        95.,  89.,  88.,  83.,  90.,  96.,  91.,  97., 106.,  93., 105.,
       107., 115., 113., 103., 100., 101., 104., 117., 114., 108., 102.,
        99., 109., 112., 142., 110.,  98., 120., 111., 128., 137., 121.,
       133., 123., 127., 116., 129., 125., 119., 124., 147., 135., 140.,
       126., 136., 134., 118., 122., 139., 132., 144., 150., 145., 181.,
       170., 232., 198., 196., 195., 200., 176., 174., 130., 131., 143.,
       152., 146., 159., 141., 155., 154., 163., 153., 160., 138., 158.,
       148., 156., 149., 162., 164., 161., 197., 179., 172., 205., 151.,
       171., 180., 219., 183., 167., 214., 234., 228., 166., 190., 216.,
       215., 235., 191., 238., 168., 186., 178., 192., 213., 199., 236.,
       194., 209., 242., 239., 157., 175., 173., 204., 252., 237., 201.,
       222., 184., 212., 165., 217., 300., 177., 182., 241., 266., 269.,
       251., 270., 276., 285., 187., 225., 169., 249., 224., 211., 245.,
       188., 189., 207., 208., 221., 193.])

Vemos algunos valores repetidos con errores de redacción en la columna genero, es algo que podemos trabajar posteriormente con una transformación

In [8]:
#Valores unicos de la columna Municipio
df_municipios = df_total['Municipio'].unique()
df_municipios = pd.DataFrame(df_municipios, columns=['Municipio'])
df_municipios

              Municipio
0           Campoalegre
1     San Juan De Arama
2                 Belén
3                  Pore
4                 Neira
...                 ...
1022            Taraira
1023        No Registra
1024                  -
1025       No Reportado
1026                NaN

[1027 rows x 1 columns]

De igual forma vemos el mismo error en la columna de municipios, no es un error demasiado relevante para nosotros

In [9]:
#identificamos valores nulos
df_total.isnull().sum()

Id                           0
Departamento                 0
Municipio                    2
Código DANE                  3
Armas Medio                  0
Fecha                        0
Genero                  662921
Agrupaciones de edad         0
Cantidad Del Delito          0
Delito                       0
ICON                         0
dtype: int64

Revisando los valores nulos dentro de los delitos y teniendo contexto anterior de los datos, vemos una cantidad grande de valores nulos en la columna genero, muchos de estos se pueden deber a que en gran cantidad de los casos el genero puede llegar a ser desconocido ya que no se identifica al acusado o sencillamente no aplica para el tipo de delito, posteriormente puede ser reemplazado por el valor de No Reportado

Realizaremos unas transformaciones simples a los valores que vimos extraños para tener un dataset final trabajable

In [10]:
#reemplazamos los valores No Registra por No Reportado en la columna Municipio
df_total['Municipio'] = df_total['Municipio'].replace('No Registra', 'No Reportado')
df_total['Municipio'] = df_total['Municipio'].replace('-', 'No Reportado')
df_total['Municipio'] = df_total['Municipio'].replace('NaN', 'No Reportado')
df_total['Genero'] = df_total['Genero'].replace('No Reporta', 'No Reportado')
df_total['Genero'] = df_total['Genero'].replace('No Resportado', 'No Reportado')
df_total['Genero'] = df_total['Genero'].replace('No Registra', 'No Reportado')
df_total['Genero'] = df_total['Genero'].replace('-', 'No Reportado')
#reemplazamos los valores nulos por No Reportado en la columna Genero
df_total['Genero'] = df_total['Genero'].fillna('No Reportado')
df_total['Municipio'] = df_total['Municipio'].fillna('No Reportado')
df_total['Código DANE'] = df_total['Código DANE'].fillna('No Reportado')

### Ya con está información tenemos un dataframe decente para trabajar